/*
    Declarem variables de color;
*/
:root{
    --separador: #eaeaea;
    --resaltatProjectes: lightskyblue;
    --resaltatMenu: crimson;
    --text: black;
}

*{
    padding:0;
    margin: 0;
}

nav{
    padding: 1em;
    display: flex;
    justify-content: center;
}

nav #logo{
    width: 200px;
}

nav ul{display: none;}

.categoriesA{display: none;}

section h2{
    text-align: center;
    font-weight: 300;
    font-size: 2em;
}

main{margin-top: 1em;}

#categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.categories-img{
    width: 250px;
}

.subC{
    margin-top: 2em;
}

footer{
    justify-content: center;
    text-align: center;
    margin: 2.5em;
}

footer hr{
    margin: 1em auto;
    border: none;
    border-top: 2px solid lightgray;
}

@media only screen and (min-width: 650px) {
    nav #logo{
        width: 140px;
    }
    nav{
        padding: 2em;
        justify-content: space-around;
    }
    nav ul{
        list-style: none;
        width: 80%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul li{margin: 0 0.5em}
    nav ul li a{
        text-decoration: none;
        color: black;

    }
    nav ul li a:hover{
        color: var(--main-orange);
    }

    #categories{
        flex-wrap: wrap;
        flex-direction: row;        
    }
}

@media only screen and (min-width: 800px) {
    nav #logo{
        width: 200px;
    }
    nav{
        padding: 2em;
        justify-content: space-around;
    }
    nav ul{
        list-style: none;
        width: 80%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul li{margin: 0 0.5em}
    nav ul li a{
        text-decoration: none;
        color: black;

    }
    nav ul li a:hover{
        color: var(--main-orange);
    }

    #categories{
        flex-wrap: wrap;
        flex-direction: row;        
    }
}